NET a LOC="P17" | IOSTANDARD=LVTTL;
NET b LOC="P15" | IOSTANDARD=LVTTL;
NET c LOC="P11" | IOSTANDARD=LVTTL;
NET d LOC="P9" | IOSTANDARD=LVTTL;
NET e LOC="P4" | IOSTANDARD=LVTTL;
NET f LOC="P2" | IOSTANDARD=LVTTL;
NET g LOC="P95" | IOSTANDARD=LVTTL;
NET dsel(0) LOC="P92" | IOSTANDARD=LVTTL;
NET dsel(1) LOC="P91" | IOSTANDARD=LVTTL;
NET dsel(2) LOC="P94" | IOSTANDARD=LVTTL;
NET dsel(3) LOC="P98" | IOSTANDARD=LVTTL;
NET Clk LOC="P89" | IOSTANDARD=LVCMOS25;